__pycache__/
.DS_Store
checkpoint/
demo/image
demo/lib
demo/output
demo/video
demo/videos/
demo/pose_pipeline.py
demo/pose_pipeline_signleFrame.py
demo/yolov8n.pt
images/
single_frame.ipynb
yolov8n.pt
vectors_and_angles.csv
README.md
status_update.txt
plan_pipeline.txt
plan_final_steps.txt
camera_info.txt
execution_finalSteps.txt
execution.txt

